[submodule "klib"]
	path = klib
	url = https://github.com/attractivechaos/klib
[submodule "blaze"]
	path = blaze
	url = https://bitbucket.org/blaze-lib/blaze
[submodule "fastrange"]
	path = fastrange
	url = https://github.com/lemire/fastrange
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11
[submodule "kspp"]
	path = kspp
	url = https://github.com/dnbaker/kspp
[submodule "gfrp"]
	path = gfrp
	url = https://github.com/dnbaker/gfrp
[submodule "frp"]
	path = frp
	url = https://github.com/dnbaker/frp
