[submodule "klib"]
	path = klib
	url = https://github.com/attractivechaos/klib
[submodule "blaze"]
	path = blaze
	url = https://bitbucket.org/blaze-lib/blaze
[submodule "fastrange"]
	path = fastrange
	url = https://github.com/lemire/fastrange
